
.newQuestionForm {
    border-radius: 10px;
    width: 100%;
}
.newQuestionForm h4{
    background-color: #373E68;
    padding:2% ;
    border-radius: 10px 10px 0 0;
    color: white;
}
.eachInput{
    width: 100%;
}
.formContent{
    padding: 2% ;
    width: 100%;
    box-sizing: border-box;
}

.formContent label{
    text-align: left ;
    display: block;
}
.formBtns{
    display: flex;
    justify-content: center;
    padding: 2% ;
}
.formBtns button{
    padding: 1.5% 5%;
    margin: 0 2%;
}