
.newQuestionForm {
    border-radius: 10px;
    width: 100%;
}
.newQuestionForm .title{
    font-size: 18px;
    background-color: var(--accent-secondary);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
}
.eachInput{
    width: 100%;
}
.formContent{
    padding: 2% ;
    width: 100%;
    box-sizing: border-box;
}

.formContent label{
    text-align: left ;
    display: block;
}
.formBtns{
    display: flex;
    justify-content: center;
    padding: 2% ;
}
.formBtns button{
    padding: 8px 16px;
    margin: 0 16px;
}

.formBtns .submit{
    background-color: var(--accent-primary);
}
.formBtns .leave{
    background-color: var(--base-200);
}
