.singleDiscussion {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  padding: 20px 25px;
  font-size: 15px;
  border-bottom: 1px solid #dcdcdc;
  gap: 4%;
}
.discussionContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
}
.discussionContent .questionTitle {
  font-weight: 600;
  color: var(--accent-secondary);
}
.discussionContent .description {
  color: var(--base-300);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 13px;
  margin: 4px 0;
}

.tagContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}
.tagContainer .tagName {
 border-radius: 100px;
 border: 1px solid #BEBEBE;
 color: #BEBEBE;
 padding: 1px 8px;
 font-size: 11px;
}
.discussionContent .updateInfo{
  color: var(--base-200);
  font-size: 12px;
}
.commentNum {
  flex: 1;
  text-align: center;
  color: rgb(12, 22, 54);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.msgIcon {
  vertical-align:text-top;
  width: 60%;
  margin-right: 5%;
}
.discussionCount{
  display: flex;
  gap: 12px;
  color: var(--base-200);
  font-size: 12px;
  padding: 2% 0;
}
.discussionCount .column{
  display: flex ;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.discussionCount .column .num{
  color: black;
}