.btn{
    padding: 4px 12px;
    color: white;
    background-color: #F77F00; 
    border-radius: 6px;
    border: 0 transparent solid;    
    font-size: 0.9rem;
}
.btn:hover,.btn:active{
   background-color:#fa9529;
}