#container{
    margin: 0 auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 2%;
   
}
.navBar{
    flex: 2;
}
.content{
    flex: 5;
} 