.answerConContainer{
    border-radius: 10px;
    background-color: white;
    padding: 0 4%;
    text-align: left;
}
h3{
    color: rgb(11, 11, 89);
    padding: 1% 0;
}
.replyTitle{
    margin: 1% 0;
}
.replySubmitBtn{
    margin: 1.5% 0;
}