.answerConContainer{
    border-radius: 10px;
    background-color: white;
    padding: 10px 30px;
    text-align: left;
}
.answerAmount{
  margin: 8px 0;
  font-size: 20px;
}
.replyTitle{
  font-size: 16px;
  margin: 1% 0;
}
.submitBtn{
  margin: 1.5% 0;
}