

.answerCard{
    
    color:lightslategray;
    padding: 1% 0;
    border-bottom: 1px solid lightslategray;
}

.answerCard h5{
    color: rgb(11, 11, 89);
    margin-bottom: 0.5%;
}
.answerCard p{
    font-size: 1.2rem;
}
.answer{
    margin: 3% 0;
}