.answerCard{
  padding: 1% 0;
  border-bottom: 1px solid var(--base-100);
}

.answerCard p{
  font-size: 1rem;
  color: var(--base-300)
}
.answerInfo{
  display: flex;
  gap: 8px;
  margin: 5px 0;
}
.answerAuthor, .answerDate{
  color:var(--base-200);
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}
.dataBox>span{
    font-size: 1rem;
}