button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--accent-secondary);
  border-radius: 5px;
  padding: 4px 12px;
  box-shadow: var(--button-shadow);
  font-size: 0.9rem;
}
button:hover{
  box-shadow: var(--button-hover-shadow);
}
input,
textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 1.25rem;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline-color: darkgrey;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.1rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:link,a:visited,a:hover,a:active  {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
.displayCon {
  height: 100%;
  width: 100%;
  padding: 35px;
}
