.navBar {
  color: black;
  width: 100%;
  padding: 15px 20px 0 20px;
  position: relative;
}
.logo {
  justify-self: center;
  display: flex;
  align-items: center;
  width: 200px;
}
.navBar ul {
  list-style: none;
  position: absolute;
  right: 20px;
  top: 0;
  margin: 0;
  padding: 15px 0;
}
.navBar ul li:nth-child(1) {
  margin-left: 0;
}
.logoBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logoBar .logInBtn {
  position: absolute;
  right: 0px;
  background: linear-gradient(99.66deg,var(--accent-secondary) 7.02%,#bedaf2 79.47%);
  border: 2px solid hsla(0,0%,100%,.45);
  margin: 8px;
  border-radius: 100px;
  color: #fff;
  font-size: 18px;
  min-width: 64px;
  padding: 4px 12px;
}
.logInText {
  position: absolute;
  right: 0px;
}
.logOutBtn {
  text-decoration: underline;
  cursor: pointer;
}
.logOutBtn:hover {
  color: var(--accent-secondary);
}
.menuList{
  display: flex;
  font-size: 13px;
  font-weight: 700;
  padding: 16px;
  gap: 20px;
  
}
.menuList .menuListItem{
  position: relative;
  color: var(--base-200);
  cursor: pointer;

}
.menuListItem.active{
  color: black;
  &::before{
    content: '';
    position: absolute;
    bottom: -18px;
    width: 22px;
    display: block;
    border-bottom: 3px solid var(--accent-primary);
    text-align: center;
    transform: translate(-50%);
    left: 50%;
  }
}
.searchInput{
  width: 150px;
  border-radius: 100px;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid var(--base-200);
  color: var(--base-200);
}
.navFunctionalBar{
  display: flex;
  justify-content: space-between;
}